/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url("../images/bg.jpg") no-repeat  center center fixed;
  background-size: cover;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}

.join-btn {
  margin-top: 10px;
}

.index-container {
  background-color: rgba(140, 140, 140, 0.3);
  color:#fff;
}

.btn-red {
  border: none;
  color: #fff;
  background-color: #4d0026;
}

.btn-red:hover, .btn-red:focus {
  color: #4d0026 !important;
  background-color: #fff !important;
}

.nav-red li a {
    color: #4d0026;
}

.nav-red li.active a {
  background-color: #4d0026;
  color: #fff;
}

.nav-red li.active a:hover {
  background-color: #fff;
  color: #4d0026;
}

h3.text-muted, .footer p {
  color: #fff;
}

.bottom-margin {
  margin-bottom: 10px;
}

.align-left {
  text-align: left;
}

.form-group {
  text-align: left;
}

.list-group-red .list-group-item:hover, .list-group-red .list-group-item.disabled {
    background-color: #4d0026;
    color: #fff;
}